<main class="profile-page">
  <section id="back-line" class="profile-page__back">
    <div class="profile-page__back__icon icon-back"></div>
  </section>
  <section class="profile-page__content">
    <article class="card profile-page__content-wrapper">
      <article class="avatar avatar-120 margin-top-40" style="background-image:url('{{avatar}}')"></article>

      <div class="margin-top-24">
          {{{loginField}}}
      </div>

      <div class="margin-top-16">
          {{{displayNameField}}}
      </div>

      <div class="margin-top-16">
          {{{firstNameField}}}
      </div>

      <div class="margin-top-16">
          {{{secondNameField}}}
      </div>

      <div class="margin-top-16">
          {{{phoneField}}}
      </div>

      <div class="margin-top-16">
          {{{emailField}}}
      </div>

      <section class="profile-page__content__buttons margin-top-40 margin-bottom-24">
        {{{editButton}}}
        {{{logoutButton}}}
      </section>
    </article>
  </section>
</main>
