<main class="edit-profile-page root">
  <article class="card edit-profile-page__content-wrapper">
    <form class="edit-profile-page__form-wrapper">
      <label>
        <article
         class="avatar avatar-empty avatar-120 margin-top-40 edit-profile-page__avatar"
         style="background-image: url('{{avatar}}')"
       >
          {{#if (isNull avatar)}}<article class="icon icon-96 icon-upload">&nbsp;</article>{{/if}}
        </article>
        <input id="avatar-input" type="file" class="edit-profile-page__avatar-input" name="avatar" />
      </label>

      <section class="edit-profile-page__inputs margin-top-24">
        <div>
          {{{loginField}}}
        </div>
        <div class="margin-top-8">
          {{{displayNameField}}}
        </div>
        <div class="margin-top-8">
          {{{firstNameField}}}
        </div>
        <div class="margin-top-8">
          {{{secondNameField}}}
        </div>
        <div class="margin-top-8">
          {{{phoneField}}}
        </div>
        <div class="margin-top-8">
          {{{emailField}}}
        </div>
        <div class="margin-top-8">
          {{{oldPasswordField}}}
        </div>
        <div class="margin-top-8">
          {{{newPasswordField}}}
        </div>
        <div class="margin-top-8">
          {{{confirmPasswordField}}}
        </div>
      </section>

      <section class="edit-profile-page__buttons margin-top-40 margin-bottom-8">
        {{{saveButton}}}
        {{{cancelButton}}}
      </section>
    </form>
  </article>
</main>
